﻿
@{
    ViewBag.Title = "VNEXPRESS";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="top_bar">
        <div class="main_bar">
            <div class="contact_left">
                <a class="ct1"><b>035.868.3523</b>(HN) - <b>0129.233.3555</b>(TP HCM)</a>
                <a class="ct2">Liên hệ quảng cáo</a>
                <button id="like">Like</button>
                <button id="follow">Follow</button>
                <button id="youtube">Youtube</button>
            </div>
            <div class="login_right">
                <button>Đăng ký</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main_content">
        <div class="ads1">
            <div class="logo">

            </div>
            <div class="quangcao1">

            </div>
            <div class="quangcao2">

            </div>
        </div>
        <nav class="type_bar">
            <img id="home" src="~/Content/Image/home-icon-silhouette.png" alt="Home" />
            <p class="type">Thời sự</p>
            <p class="type">Thế giới</p>
            <p class="type">Kinh doanh</p>
            <p class="type">Giải trí</p>
            <p class="type">Thể thao</p>
            <p class="type">Pháp luật</p>
            <p class="type">Giáo dục</p>
            <p class="type">Sức khỏe</p>
            <p class="type">Gia đình</p>
            <p class="type">Du lịch</p>
            <p class="type">Khoa học</p>
            <p class="type">Số hóa</p>
            <p class="type">Xe</p>
            <p class="type">Cộng đồng</p>
            <p class="type">Tâm sự</p>
            <p class="type">Video</p>
            <p class="type">Cười</p>
            <p class="type">Rao vặt</p>
        </nav>
        <section class="page_content">

            <section class="mid_content">
                <p class="header">Trang nhất</p>
                <div id="ve"></div>
                <img id="thumnails" src="~/Content/Image/thumnails.png" alt="thumnails" />
                <p class="header_of_mid_content">Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên <button id="live">LIVE</button><button class="bcamera"></button><button id="cmt">80</button></p>
                <p class="content_of_mid_content">Hai ứng viên chạy đua chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
                <ul>
                    <li>Túi tiền tranh cử bà Clinton nặng gấp đôi tỷ phú Trump</li>
                </ul>
            </section>
            <section class="right_content">
                <p class="EL">English</p>
                <p class="content_of_right_content">Đài loan đóng cửa trường học vì bão Megi</p>
                <p class="content_of_right_content">Những đứa trẻ sống vắt vẻo trên dầm cầu đã có chốn dung thân <button class="bcamera"></button></p>
                <p class="content_of_right_content">tại sao các đôi hoàn hảo vẫn ly dị</p>
                <p class="content_of_right_content">Ssangyong Korando - crossover giá một tỷ tại Việt Nam</p>
                <p class="content_of_right_content">Lỗ hổng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
                <div class="right_below_content">
                    <p class="GN">Góc nhìn</p>
                    <p class="header_of_right_below_content">'Thất thủ' trước cơn mưa</p>
                    <img id="danongbuon" src="~/Content/Image/danongbuon.png" alt="danongbuon" />
                </div>
                <p class="content_of_right_below_content">Hàng triệu người bất lực trước một cơn mưa, hay còn bởi điều gì khác?</p>
            </section>
        </section>
        <div class="ads2">
            <div class="date_time">
                <p class="date">Thứ ba, 27/9/2016 | 09:16 GMT+7</p>
                <p class="qua">24h qua</p>
                <p class="RSS">RSS</p>
            </div>
            <div class="quangcao3"><img src="~/Content/Image/right-ads-1.png" alt="Rads1" /></div>
            <div class="quangcao3"><img src="~/Content/Image/right-ads-2.png" alt="Rads2" /></div>
            <div class="quangcao3"><img src="~/Content/Image/right-ads-3.png" alt="Rads3" /></div>
        </div>
    </div>
